<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Dodaj weterynarza</h1>
        </div>
    </div>
</div>

<form action="/vets/add" method="post">
    <div class="">
        <label for="vetName">Name</label>
        <input type="text" class="" id="vetName" name="name">
    </div>
    <div class="">
        <label for="VetLastName">Lastname</label>
        <input type="text" class="" id="VetLastName" name="lastName">
    </div>

    <button type="submit" class="">Dodaj</button>
</form>

</body>
</html>