<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lista pacjentów</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover table-custom">
                <tr class="success">
                    <th>Imię</th>
                    <th>Rodzaj</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
                <tr th:each="pet : ${pets}">
                    <td th:text="${pet.name}"></td>
                    <td th:text="${pet.type}"></td>
                    <td><a th:href="@{/pets/{id}(id=${pet.id})}">Edytuj</a>
                    <td><a th:href="@{/pets/{id}/remove(id=${pet.id})}">Usun</a>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>